@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 25s linear infinite;
}
.section-fade {
  opacity: 0;
  transform: translateY(30px);
  transition: all .8s ease;
}

.section-fade.visible {
  opacity: 1;
  transform: translateY(0);
}
html {
  scroll-behavior: smooth;
}
